
@media (max-width: 800px) {
    /*HEADER*******************/
    .header {
        display: block;
        width: 100%;
        text-align: center;
    }
    .logo h1 {
        font-size: 54px;
    }
    .menu {
        width: 50%;
        margin: 0 auto;
    }
    .menu a {
        font-size: 25px;
    }
    .menu li {
        margin: 15px 0 15px;
    }
    .menu ul {
        display: block;
    }
    .button_bay {
        width: 40%;
        margin: 0 auto;
    }
    .button_bay button {
        width: 100%;
        height: 50px;
        margin: 20px 0 0 0;
    }
    /*SECTION_1*******************/
    .photo_product {
        width: 100%;
        height: 300px;
        background: url("./img/Layer_45.jpg");
        background-size: cover;
    }
    .text_product{
        margin:50px 0 50px ;
    }
    .text_product h1 {
        font-size: 40px;
    }
    .text_product p{
        font-size: 30px;
        margin: 10px 0 0 0;
    }
    /*SECTION_2*******************/
    .text_a {
        width: 80%;
    }
    .button_bay2 {
        padding: 40px 0 40px 0;
    }
    .button_bay2 button {
        width: 55%;
    }
    .heading {
        width:80%;
        margin: 0 auto;
    }
    .heading h1 {
        font-size: 25px;
        font-weight: 400;
        line-height: 24px;
        padding: 40px 0 40px 0;
    }
    .text_creat {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .text_creat p{
        font-size: 16px;
        padding-bottom: 20px;
    }
    .text_process {
        width:90%;
        margin:0 auto;
    }
    .block_business {
        width: 100%;
        text-align: center;
        display: block;
        padding: 20px 0 0 0 ;
    }
    . background{
        height:100px;
    }
    .text_process h1 {
        width: 90%;
        font-size: 30px;
        margin: 0 auto;
    }
    .text_process h2 {
        font-size: 30px;
        margin-top: 10px;
    }
    .button_bay3 {
        width:60%;
        margin: 0 auto;
        padding: 20px 0 30px;
    }
    .possibility h1{
        font-size: 40px;
    }
    .photo_text{
        display: block;
        margin: 70px 0 70px 0;
        text-align: center;
    }
    .options h1{
        font-size: 40px;
    }
    .block_text{
        width: 100%;
    }
    .button_bay3 button{
        display: block;
        height: 100px;
    }
    .foto_target{
        width:323px;
        height: 349px;
        margin: 0 auto;
    }
    .button_bay4 button{
        display: block;
        width: 60%;
        height: 100px;
        margin: 0 auto;
    }
    .menu2 ul{
        display: block;
        font-size: 20px;
    }
    .menu2 li{
        margin-top:15px ;
    }
    .block_studio{
        display:block;
        text-align: center;
        margin: 100px 0 40px 0;
    }
    .profesional_studio{
        width: 100%;
        margin-bottom: 100px;
    }
    .enterprise_studio{
        width: 100%;
    }
    .icons_staff_number{
        display: block;
        margin: 15px 0 15px ;
        text-align: center;
    }
    .header_studio{
        display: block;
        margin-bottom: 30px;
        text-align: center;
    }
    .block_button {
        width: 60%;
        margin: 0 auto;
        padding-top: 10px;
    }
    .staff_number{
        margin-left: 0;
    }
    .staff_number p{
        display: block;
    }
    .icons_staff_number_two{
        display:block;
        margin:50px 0 45px;

    }
    .icons_staff_number_two p{
        display:flex;
        text-align: center;
        margin: 0;
    }
    .text_studio {
        text-align: left;
    }
    .additional_modules{
        width: 100%;
        display: block;
        padding: 100px 0 40px 0;
    }
    .footee_block{
        width: 80%;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .tittle_bottom{
        width: 90%;
        margin: 0 auto;
        font-size: 24px;
    }
}
@media (max-width: 1245px) {
    .header {
        width: 100%;
        display: block;
      text-align: center;
    }
    .menu {
        width: 90%;
     margin: 0 auto;
    }
    .menu ul{
        justify-content: space-between;
        margin: 30px 0 30px ;
    }
    .menu a{
        font-size: 18px;
    }
    .button_bay{
        width: 24%;
        margin: 0 auto;
    }
    .button_bay button{
        width: 100%;
        height: 44px;
        padding: 0;
        margin: 0;
        background: #2457e8;
        border:0;
        color:white;
        border-radius: 5px;
    }
    .icons_staff_number_two{
        width: 100%;
        display:block;
        margin:50px 0 35px 0;
        text-align: center;

    }
    .icons_staff_number_two p{
        display:flex;
        text-align: center;
        margin: 0 auto;
    }
    .icons_staff_number{
        width: 100%;
        display: block;
        margin: 15px 0 15px  ;
        text-align: center;
    }
    .staff_number p{
        display: flex;
        align-items: center;
        width:100%;
        margin: 0 auto;
        font-size: 24px;
    }
    .text_creat{
        text-align: center;
    }
    .block_business{
        width: 100%;
        display: block;
    }
    .text_process{
        width: 60%;
        margin: 0 auto;
    }
    .text_process p{
        padding: 50px 0 30px 0 ;
    }
    .button_bay3 {
        margin: 0 auto;
    }
}
@media (max-width: 1015px) {
    .header {
        width: 100%;
        display: block;
        text-align: center;
    }
    .logo h1{
        font-size: 64px;
    }
    .menu ul{
        display: block;
        margin: 30px 0 30px ;
    }
    .menu li {
        margin: 15px 0 15px;
    }
    .text_product h1{
        font-size: 70px;
        color: #2457e8;
    }
    .photo_product{
        width: 100%;
        height: 520px;
        background: url("./img/Layer_45.jpg");
        background-size: cover;
    }
    . background{
        width: 100%;
        height:900px;
        background:rgba(0, 0, 255, 0.6);;
    }
    .text_creat{
        color: white;
        font-size: 19px;
        display: block;
       text-align: center;
    }
    .text_creat p{
        padding-top: 10px;
    }
    .button_bay3 {
        width:40% ;
    }
    .button_bay3 button {
        width: 100%;
        height: 104px;
        margin-bottom:50px;
    }
    .block_studio{
        display: block;
    }
    .profesional_studio{
        width: 70%;
        margin: 0 auto;
    }
    .enterprise_studio{
        width: 70%;
        margin: 0 auto;
        padding-top: 30px;
    }
    .button_bay4 button{
        width: 84%;
        height: 66px;
        border: 0;
        border-radius: 5px;
        background: #02c466;
        color: white;
        font-size: 18px;
        display: flex;
        align-items: center;
    }
    .photo_text{
        display:block;
    }
    .photo_target{
        width:533px;
        height: 539px;
        margin: 0 auto;
    }
    .block_text{
        width: 60%;
        margin: 0 auto;
    }
    .menu2 ul{
        width: 80%;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0 auto;
        font-size: 12px;
    }
}
@media (max-width: 600px) {
    .text_product h1 {
        font-size: 23px;
    }
    .text_product p{
        font-size: 16px;
    }
    .foto_product{
        height: 248px;
    }
    . background{
        display: block;
        max-width: 100%;
        height:auto;
        background:rgba(0, 0, 255, 0.6);
        padding-bottom: 50px;
    }
    .text_a h1{
        font-size: 33px;
    }
    .text_a p{
        font-size: 20px;
    }
    .text_process h1{
        font-size: 19px;
    }
    .text_process h2{
        font-size: 19px;
    }
    .button_bay3 {
        width:60% ;
    }
    .photo_target img{
        width: 100%;
        height: 100%;
        object-fit:cover;
    }
    .photo_target{
        width:233px;
        height: 239px;
        margin: 0 auto;
    }
    .text_1{
        font-size: 18px;
    }
    .button_bay4 button{
        display: block;
        width: 100%;
        height: 100px;
        margin: 0 auto;
    }
    .menu2 ul{
        width: 55%;
        display: block;
        padding: 0;
        margin: 0 auto;
        font-size: 15px;
    }
    .enterprise_studio{
        width: 100%;
    }
    .profesional_studio{
        width: 100%;
    }
}
@media (max-width: 400px) {
    .profesional_studio{
        width: 100%;
    }
    .staff_number p{
        text-align: center;
        display: flex;
        align-items: center;
        margin-left: 0;
        font-size: 18px;
    }
    .figures{
        font-size: 28px;
        color:#e85f20 ;
        font-weight: 300;
        padding: 0 10px ;
    }
    .staff_number_two p{
        display: flex;
        font-size: 18px;
        align-items: center;
        margin-left: 0;
    }
    .enterprise_studio{
        width: 100%;
    }
    .figures_orang {
        color:#02c466 ;
        font-size: 28px;
        font-weight: 300;
        padding: 0 10px ;
    }
}