@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400;1,500&display=swap');
body{
    margin:0;
    padding:0;
    font-family:'Roboto', sans-serif;
}
p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    padding: 0;
    color: black;
}
li{
    list-style-type:none;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
.conteiner{
    width:80%;
    margin:0 auto;

}
/*HEADER*******************/
.header {
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin:10px 0 0 0 ;
    padding-bottom: 12px;
    border-bottom:2px solid #f0f4f5 ;
}
.logo h1{
    font-size: 24px;
    color:#2457e8;
}
.menu{
    width: 55%;
}
.menu a{
    font-size: 14px;
}
.menu ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.button_bay{
    width: 14%;
    text-align: right;
    margin: 0;
}
.button_bay button{
    width: 100%;
    height: 44px;
    padding: 0;
    margin: 0;
    background: #2457e8;
    border:0;
    color:white;
    border-radius: 5px;
}
/*SECTION1*******************/
.photo_product{
    width: 100%;
    height: 648px;
    background: url("./img/Layer_45.jpg");
    background-size: cover;
}
.text_product{
    margin: 100px 0 0 0;
    text-align: center;
}
.text_product h1{
    font-size: 155px;
    color: #2457e8;
}
.text_product p{
    font-size: 33px;
    font-weight: 300;
    margin: 30px 0 90px 0;
}

/*SECTION2*******************/
.text_a{
    width: 65%;
    text-align: center;
    margin: 0 auto;
    padding: 95px 0 0 0;
}
.text_a h1{
    font-size: 43px;
    font-weight:300;
}
.text_a p{
    color: #666666;
    font-size: 20px;
    line-height: 28px;
    padding: 40px 0 0 0;
}
.button_bay2{
    padding: 40px 0 40px 0;
}
.button_bay2 button{
    width: 25%;
    height: 63px;
    border: 0;
    color: white;
    font-size: 18px;
    background: #24aae8;
    border-radius: 5px;
}
.photo_ background{
    width: 100%;
    background: url("./img/Layer_31.jpg");
    margin:0;
}
. background{
    display: block;
     max-width: 100%;
    height:auto;
    background:rgba(0, 0, 255, 0.6);
    padding-bottom: 50px;
}
.heading{
    width: 68%;
    margin: 0 auto;
}
.heading h1{
    font-size: 26px;
    text-align: center;
    color: #f0f4f5;
    font-weight: 300;
    line-height: 28px;
    padding: 40px 0 62px 0;
}
.text_creat{
    color: white;
    font-size: 14px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.text_process{
    width: 55%;
}
.block_business{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0 0 0;
}
.text_process h1{
    background: #e3b51a;
    font-size: 49px;
    margin-bottom:10px;
    color: #2439a8;
}
.text_process h2{
    background: #e3b51a;
    color: #2439a8;
    font-size: 49px;
}
.text_process p{
    color: #f0f4f5;
    font-size: 16px;
    line-height: 24px;
    padding: 30px 0 0 0 ;
}
.button_bay3 {
    width:30% ;
}
.button_bay3 button{
    width: 100%;
    height: 64px;
    color: white;
    font-size: 18px;
    background: #02c466;
    border:0;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.button_bay3 i{
    font-size: 50px;
    padding: 0 10px 0;
}
/*SECTION3*******************/
.possibility{
    margin: 120px 0 0 0;
    text-align: center;
}
.possibility h1{
    font-size: 80px;
    padding-bottom: 60px;
}
.possibility h2{
    color: #666666;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
}
.photo_text{
    display: flex;
    justify-content: space-between;
    margin: 70px 0 300px 0;
    align-items: center;
}
.photo_target{
    width:533px;
    height: 539px;
}
.photo_target img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.block_text{
    width: 45%;
}
.text_1{
    font-size: 28px;
    font-weight: 400;
}
.text_2{
    color: #666666;
    font-size: 19px;
    font-weight: 400;
    padding: 60px 0 40px 0;
}
.text_3{
    color: #666666;
    font-size: 16px;
    font-weight: 300;
    padding: 0 0 60px 0;
}
.button_bay4 i{
    font-size:50px;
    padding: 0 15px;
}
.button_bay4 button{
    width: 60%;
    height: 66px;
    border: 0;
    border-radius: 5px;
    background: #02c466;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
}
/*SECTION4*******************/
.options{
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid #ecebe5;
    text-align: center;
}
.options h1{
    font-size: 80px;
}
.options p{
    font-size: 18px;
    padding: 55px 0 55px;
}
.menu2{
    margin-bottom:10px;
}
.menu2 ul{
    width: 55%;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0 auto;
    font-size: 12px;
}
/******************************/
.block_studio{
    display: flex;
    justify-content: space-between;
    margin: 100px 0 40px 0;
}
.profesional_studio{
    width: 40%;
}
.header_studio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.text_studio {
    font-size: 34px;
    font-weight: 300;
}
.text_orang{
   color: orangered;
}
.block_button {
    width: 30%;
}
.block_button button{
    height: 49px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    color: white;
    background: #24aae8;
}
/***********************/
.enterprise_studio{
    width: 40%;
}
.text_green{
    color: #21cb78;
}
.block_little_business{
    border: 3px solid #e85f20;
    padding: 20px 15px;
}
.block_little_business_two{
    border: 3px solid #02c466;
    padding: 20px 15px;
 }
.text_recommendation{
    font-size: 36px;
    font-weight: 300;
    line-height: 40px;
}
.icons_staff_number{
    display: flex;
    align-items: center;
    margin: 15px 0 15px  ;
}
.icons_staff_number_two{
    display: flex;
    align-items: center;
    margin: 40px 0 40px;
}
.icons i{
    font-size: 50px;
    color: #e85f20;
}
.icons_green i{
    font-size: 50px;
    color: #02c466;
}

.staff_number p{
    display: flex;
    align-items: center;
    width: 99%;
    margin-left: 20px;
    font-size: 24px;
}
.staff_number_two p{
    display: flex;
    font-size: 24px;
    align-items: center;
    margin-left: 20px;
}
.figures{
  font-size: 48px;
    color:#e85f20 ;
    font-weight: 300;
    padding: 0 10px ;
}
.figures_orang {
    color:#02c466 ;
    font-size: 48px;
    font-weight: 300;
    padding: 0 10px ;
}
.business_studio_professional{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #666666;
    margin: 40px 0 40px;
}
.options_studio{
    font-size: 14px;
    color: #666666;
    font-weight: 300;
}
.photo_circle {
    text-align: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    font-size: 24px;
}
.photo_circle p{
    margin-top: 10px;
    color: #24aae8;
 }
.photo_circle span {
    margin:10px;
    font-size: 60px;
    color:#24aae8 ;
}
.photo_circle  span:before,
.photo_circle  span:after{
    content: '';
    position: absolute;
    width:100%;
    border-top: 2px solid #e3e9ed;
    margin-top:35px;
}
.photo_circle span:before {
    margin-left: -102%;
}
.photo_circle span:after {
    margin-left: 2%;
}
/*********SECTION_5**************/
.bg_footer{
    background-color: #f2f2f2;
    margin: 30px 0 0;
}
.tittle_bottom{
    font-size: 34px;
    font-weight: 300;
    text-align: center;
   padding: 20px 0 0 0;
}
.additional_modules{
    width: 75%;
    display: flex;
    justify-content: space-around;
    margin:auto ;
    padding: 100px 0 120px 0;
}
.footee_block{
    width: 19%;
    text-align: center;
}
.footee_block h2{
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    padding: 20px 0 20px;
    color: #666666;
}
.footee_block p{
    font-size: 14px;
    font-weight: 400;
    padding-bottom:20px ;
    color: #666666;
}
.footee_block a{
    font-size: 14px;
    font-weight: 400;
    color: #24aae8;
}
.text_footer{
    padding: 20px 0 20px 0 ;
}
.footer{
    display: flex;
    font-size: 16px;
    color: #999999;
    align-items: center;
    height: 80px;
    line-height: 27px;
}